# Example: https://github.com/squidfunk/mkdocs-material/blob/master/mkdocs.yml

site_name: AFX
site_url: https://babarot.me/afx/
site_description: Package manager for CLI
repo_name: b4b4r07/afx
repo_url: https://github.com/b4b4r07/afx
edit_uri:
copyright: Copyright &copy; 2022 babarot

theme:
  name: material
  language: en
  favicon: static/favicon.ico
  icon:
    logo: material/package-variant-closed
  include_search_page: false
  search_index_only: true
  palette:
  - media: "(prefers-color-scheme: light)"
    scheme: default
    toggle:
      icon: material/toggle-switch-off-outline
      name: Switch to dark mode
    primary: deep orange
    accent: red
  - media: "(prefers-color-scheme: dark)"
    scheme: slate
    toggle:
      icon: material/toggle-switch
      name: Switch to light mode
    primary: teal
    accent: green
  features:
  - search.suggest
  - search.highlight
  - search.share

plugins:
- search

markdown_extensions:
- meta
- codehilite
- admonition
- toc:
    permalink: "#"
- pymdownx.arithmatex
- pymdownx.betterem:
    smart_enable: all
- pymdownx.caret
- pymdownx.critic
- pymdownx.details
- pymdownx.emoji:
    emoji_generator: !!python/name:pymdownx.emoji.to_svg
- pymdownx.inlinehilite
- pymdownx.magiclink:
    repo_url_shortener: true
    repo_url_shorthand: true
    social_url_shorthand: true
    user: b4b4r07
    repo: afx
- pymdownx.mark
- pymdownx.smartsymbols
- pymdownx.superfences
- pymdownx.tasklist:
    custom_checkbox: true
- pymdownx.tabbed:
    alternate_style: true
- pymdownx.tilde
- pymdownx.superfences
- footnotes

extra:
  social:
  - icon: fontawesome/solid/blog
    link: https://tellme.tokyo
  - icon: fontawesome/brands/github
    link: https://github.com/b4b4r07
  - icon: fontawesome/brands/twitter
    link: https://twitter.com/b4b4r07
  - icon: fontawesome/brands/docker
    link: https://hub.docker.com/u/b4b4r07

nav:
- Home: index.md
- Getting Started: getting-started.md
- How it works: how-it-works.md
- Configuration:
  - Package Type:
    - GitHub: configuration/package/github.md
    - Gist:   configuration/package/gist.md
    - Local:  configuration/package/local.md
    - HTTP:   configuration/package/http.md
  - Command: configuration/command.md
  - Plugin:  configuration/plugin.md
- Links: links.md
